<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="phonegap-ios-social-plugin"
      version="0.1.0">

    <name>Social plugin</name>
    <description>Cordova Social Plugin</description>
    <license>Apache</license>
    <keywords>cordova,social,sharing</keywords>
    <js-module src="www/social.js" name="Social">
        <clobbers target="Social" />
    </js-module>

    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="NetworkStatus">
                <param name="Social" value="Social" /> 
            </feature>
        </config-file>
        <header-file src="Social.h" />
        <source-file src="Social.m" />
    </platform>
</plugin>
